<div class="w3-center w3-padding-64">
  <div class="w3-bar">
    <button class="w3-button w3-black" onClick="window.location.href='{{url_for('predict.yoon')}}';">윤석열</button>
    <button class="w3-button w3-teal">이재명</button>
    <button class="w3-button w3-red">이낙연</button>
    <button class="w3-button w3-black">홍준표</button>
    <button class="w3-button w3-teal">안철수</button>
    <button class="w3-button w3-red">정세균</button>
    <button class="w3-button w3-black">유승민</button>
    <button class="w3-button w3-teal">심상정</button>
    <button class="w3-button w3-red">추미애</button>
    <button class="w3-button w3-black">황교안</button>
    <button class="w3-button w3-teal">김부겸</button>
  </div>
</div>