<!DOCTYPE html>
<html>
    <title>4team</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- 한글 폰트 link -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">
    <!-- 한글 폰트 link -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Song+Myung&display=swap" rel="stylesheet">
    <!-- font-family: 'Roboto', sans-serif;
    font-family: 'Song Myung', serif; -->
    <style>
        html,body,h1,h2,h3,h4 {font-family: 'Nanum Myeongjo', serif;}
            .mySlides {display:none}
            .w3-tag, .fa {cursor:pointer}
            .w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
    </style>

<body>
<!-- Links (sit on top) -->
<div class="w3-top">
    <div class="w3-row w3-large w3-light-grey">
    <div class="w3-third s3">
    <a href="#" class="w3-button w3-block">Home</a>
    </div>
    <div class="w3-third s3">
    <a href="#predict" class="w3-button w3-block">predict</a>
    </div>
    <div class="w3-third s3">
    <a href="#about" class="w3-button w3-block">About</a>
    </div>
    </div>
</div>

<!-- Content -->
<div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

    <div class="w3-panel">
        <h1 style="font-family: 'Song Myung', serif;"><b>선거 예측 및 분석</b></h1>
        <p>4.7 보궐선거를 예측 및 분석하고 2022년 대선을 예측</p>
    </div>

    <!-- Slideshow -->
    <div class="w3-container">
        <div class="w3-display-container mySlides">
            <img src="/w3images/coffee.jpg" style="width:100%">
            <div class="w3-display-topleft w3-container w3-padding-32">
                <span class="w3-white w3-padding-large w3-animate-bottom">Lorem ipsum</span>
            </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="/w3images/workbench.jpg" style="width:100%">
            <div class="w3-display-middle w3-container w3-padding-32">
                <span class="w3-white w3-padding-large w3-animate-bottom">Klorim tipsum</span>
            </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="/w3images/sound.jpg" style="width:100%">
            <div class="w3-display-topright w3-container w3-padding-32">
            <span class="w3-white w3-padding-large w3-animate-bottom">Blorum pipsum</span>
        </div>
    </div>

    <!-- Slideshow next/previous buttons -->
    <div class="w3-container w3-dark-grey w3-padding w3-xlarge">
    <div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-hover-text-teal"></i></div>
    <div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-hover-text-teal"></i></div>

    <div class="w3-center">
    <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
    <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
    <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
    </div>
    </div>
    </div>

    <!-- What we offer -->
    <div class="w3-row w3-container">
        <div class="w3-center w3-padding-64">
        <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">What We Do</span>
        </div>
        <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
        <h3>Collecting</h3>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>

        <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
        <h3>MachineLearning</h3>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>

        <div class="w3-col l3 m6 w3-dark-grey w3-container w3-padding-16">
        <h3>Modeling</h3>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>

        <div class="w3-col l3 m6 w3-black w3-container w3-padding-16">
        <h3>Predicting & Analyzing</h3>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
    </div>

    <!-- Grid -->


    <!-- 기존 -->
    <!-- Contact -->

    <div class="w3-row-padding" id="plans">
        <div class="w3-center w3-padding-64">
                <div class="w3-center w3-padding-64" id="predict">
        <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Thanks</span>
        </div>
            <h3>2022년 대선 유망 후보자별 평균 긍정률 추이</h3>
            <p>Check positive rate whom we wonder</p>
        </div>
        <div class="col-lg-8">
            <div class="card">
            <div class="card-header">
            </div>
            <div class="card-block">
                <div id="barchart" style="min-width: 250px; height: 330px; margin: 0 auto"></div>
            </div>
            </div>
        </div>

    </div>


    <!-- 기존 -->
    <!-- Grid -->
    <div class="w3-row-padding" id="about">
    <div class="w3-center w3-padding-64">
        <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Who We Are</span>
    </div>  

    <div class="w3-quarter w3-margin-bottom">
        <div class="w3-card-4">
        <img src="/w3images/team1.jpg" alt="John" style="width:100%">
                <div class="w3-container">
                    <h3>김은서</h3>
                    <p class="w3-opacity">CEO & Founder</p>
                    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                    <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
                </div>
        </div>
    </div>

    <div class="w3-quarter w3-margin-bottom">
        <div class="w3-card-4">
            <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
            <div class="w3-container">
                <h3>문수인</h3>
                <p class="w3-opacity">Art Director</p>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="w3-quarter w3-margin-bottom">
        <div class="w3-card-4">
            <img src="/w3images/team3.jpg" alt="Jane" style="width:100%">
                <div class="w3-container">
                    <h3>윤석영</h3>
                    <p class="w3-opacity">Designer</p>
                    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                    <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
                </div>
        </div>
    </div>

    <div class="w3-quarter w3-margin-bottom">
        <div class="w3-card-4">
        <img src="/w3images/team3.jpg" alt="Jane" style="width:100%">
        <div class="w3-container">
            <h3>차유빈</h3>
            <p class="w3-opacity">Designer</p>
            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
        </div>
        </div>

    </div>



</div>

<!-- Footer -->

{% include 'public/footer.html' ignore missing %}


<script>
// Slideshow
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
showDivs(slideIndex += n);
}

function currentDiv(n) {
showDivs(slideIndex = n);
}

function showDivs(n) {
var i;
var x = document.getElementsByClassName("mySlides");
var dots = document.getElementsByClassName("demodots");
if (n > x.length) {slideIndex = 1}    
if (n < 1) {slideIndex = x.length} ;
for (i = 0; i < x.length; i++) {
x[i].style.display = "none";  
}
for (i = 0; i < dots.length; i++) {
dots[i].className = dots[i].className.replace(" w3-white", "");
}
x[slideIndex-1].style.display = "block";  
dots[slideIndex-1].className += " w3-white";
}
</script>

<!-- highchart -->
<script src="static/plugins/charts/echarts/js/echarts-all.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>

<!-- barchart 값 넣는 곳 -->
<script>
  Highcharts.chart('barchart', {
      title: {
          text: '2021-03-01 ~ 2021-05-14 긍정률'
      },
      xAxis: {
          categories: ['Apples', 'Oranges', 'Pears', 'Bananas', 'Plums']
      },
      labels: {
          items: [{
              html: 'Total fruit consumption',
              style: {
                  left: '130px',
                  top: '18px',
                  color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
              }
          }]
      },
      series: [{
          type: 'column',
          name: 'Jane',
          data: [3, 2, 1, 3, 4],
          color:'#f57c00'
      }, {
          type: 'column',
          name: 'John',
          data: [4, 3, 5, 7, 6],
          color:'#2BBBAD'
      }, {
          type: 'column',
          name: 'Joe',
          data: [3, 4, 2, 9, 5],
          color:'#39444e'
      }, {
          type: 'spline',
          name: 'Average',
          data: [3.5, 2.67, 3, 6.33, 3.33],
          marker: {
              lineWidth: 2,
              lineColor: Highcharts.getOptions().colors[3],
              fillColor: 'white'
          }
      }, {
          type: 'pie',
          name: 'Total consumption',
          data: [{
              name: 'Jane',
              y: 13,
              color: '#f57c00'
          }, {
              name: 'John',
              y: 23,
              color:'#2BBBAD'
          }, {
              name: 'Joe',
              y: 19,
              color:'#39444e'
          }],
          center: [40, 20],
          size: 100,
          showInLegend: false,
          dataLabels: {
              enabled: false
          }
      }]
  });
</script>


</body>
</html>
